$color: rgb(230, 230, 230);

.main__container,
.slider__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color;
    height: 100vh;
    text-align: center;
}

.main__heading {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}

.main__button,
.slider__button,
.slider__switch_button {
    background-color: black;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.silder__image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__image {
    width: 600px;
    height: 400px;
    margin: 10px;
}

.slider__switch_button {
    margin-bottom: 10px;
}