$color: rgb(230, 230, 230);

*{
    margin: 0;
    padding: 0;
}

.slider_container {
    padding: 40vh;
    background-color: $color;
    height: 100vh;
    text-align: center;
}

.slider_heading {
    padding:10px;
}

.slider_button {
    background-color: black;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}